/*== Record section == start*/
.testIcon::before{
content:'\f108'
}

.recordButtonsGroupWrapper {
    position: absolute;
    bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*left: 50%;*/

    border: 8px solid rgba(255, 255, 255, 0.4);
    height: 80px;
    width: 80px;
    border-radius: 50%;
    /*background: #000;*/
    box-sizing: inherit;
}

.recorderButtons {
    background: rgba(248, 87, 41, 0.8);
    /*position: absolute;*/
    outline: none;
    border: none;
    cursor: pointer;
    margin: 20px;

}

.recorderButtons:hover {
    background: rgba(248, 87, 41, 1);
    transform: scale(1.1);
}

.recorderStopButton {
    border-radius: 4px;
    top: -8px;
    left: -8px;
    width: 40px;
    height: 40px;
    margin: 20px;
    transition: transform 0.15s linear;

}

.recorderRecordButton {
    /*top: 0;*/
    /*left: 0;*/
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 20px;
    transition: transform 0.15s linear;

}

/*== Record section == end*/

/*== Approve section == start*/
.approveVideoBlockWrapper {
    position: absolute;
    bottom: 10%;
    display: flex;
    flex-direction: column;
}

.approveVideoBlockQuestion {
    font-weight: 700;
    font-size: 22px;
    color: rgb(255, 255, 255);
    margin-bottom: 24px;
    text-align: center;
}

.approveVideoBlockBtnGroup {
    /*display: flex;*/
    justify-content: space-between;
    align-items: center;

}

.approveVideoBlockBtn {
    cursor: pointer;
    pointer-events: initial;
    border: none;
    color: white;
    width: 96px;
    height: 96px;
    letter-spacing: 2px;
    border-radius: 50%;
    font-size: 24px;
    line-height: 32px;
    background: rgba(149, 149, 149, 0.8);
    font-weight: 700;
    outline: none;
    padding: 0;
    flex-shrink: 0;
    transition: all 0.1s ease-in-out 0s;
}

.replayBtn {
    background: rgba(255, 60, 76, 0.8);
}
.replayBtn:hover{
    background: rgba(255, 60, 76, 1);
    transform: scale(1.1);


}
.replayBtn:before {
    content: "\25b6";
}

.approveBtn {
    background: rgba(54, 207, 113, 0.8);
    margin-right: 20px;
}

.approveBtn:hover {
    background: rgba(54, 207, 113, 1);
    transform: scale(1.1);
}

.refuseBtn {
    background: rgba(149, 149, 149, 0.8);
    margin-right: 20px;
}

.refuseBtn:hover {
    background: rgba(149, 149, 149, 1);
    transform: scale(1.1);
}
/*== Approve section == end*/

